*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    margin: 0 auto;
    font-family: sans-serif;
}

.country-box {
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 10rem;
}

.country {
    width: 150px;
    height: 150px;
    position: relative;

    perspective: 1500px;
}

.country div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #777;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.state {
    background-color: beige;
}

.capital {
    background-color: #5e43ff;
    color: #fff;
    transform: rotateY(180deg);
}

.country:hover .state {
    transform: rotateY(-180deg);
}

.country:hover .capital {
    transform: rotateY(0);
}

@media screen and (max-width : 400px) {

     .country-box {
         grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
         gap: 2rem;
      }

     .country {
         font-size: 13px;
         width: 100px;
         height: 100px;
         white-space: wrap;
         text-align : center;
     }
}
